build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

*.tar.gz
*.zip
*.dmg

backups/
releases/
patches/

macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
